$borderGrey: #ebebeb;
$sleekBorder: 1px solid $borderGrey;
$sleekFontColor: #333333;

body {
  color: $sleekFontColor;
}

/* App component styles begin */
.mainContentContainer{
  display: flex;
  flex-direction: column;
  align-items: left;
}
/* App component styles end*/

/* header styles start */
.header {
  display: flex;
  flex-direction: row;
  border-bottom: $sleekBorder;
  height: 70px;
}

.headerLogoContainer {
  border-right: $sleekBorder;
  width: 193px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
}
/* header styles end */

/* feature styles begin */
.customFa {
  margin-left: 10px;
}

.customFaCheck {
  font-size: 15px;
  color: green;
}

.customFaBan {
  font-size: 15px;
  color: red;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: left;
  font-weight: 300;
  border: $sleekBorder;
  border-radius: 10px;
  width: 400px;
  margin-bottom: 10px;
}

.featureDetailsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 30px;
}

.hasSubfeatures {
  cursor: pointer;
}

.subfeaturesContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 50px;
}
/* features styles end*/

/* campsite styles begin */
.campsiteContainer {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-left: 30px;
}

.campsiteName {
  font-family: 'Calibre', Helvetica, Arial, sans-serif;
  font-size: 24px;
  line-height: 1.42;
  color: $sleekFontColor;
  font-weight: 400;
}
/* campsite styles end */
